@use 'variables' as *;
@use 'mixins' as *;

.dropdown {
  position: relative;

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $color-black;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 2px solid $color-white;
    z-index: 1000;

    &.active {
      display: block;
    }

    li {
      a {
        display: block;
        padding: 12px 15px;
        text-align: left;
        color: $color-white;
        text-decoration: none;
        border-bottom: 1px solid #333;
        font-size: $font-size-sm;
        @include transition(all);

        &:hover {
          background-color: rgba($color-black, 0.8);
          padding-left: 20px;
        }
      }
    }
  }
}