@use 'variables' as *;
@use 'mixins' as *;

header,
footer {
  background-color: $color-black;
  color: $color-white;
}

main {
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: $spacing-xl 0;
}

footer {
  padding: 35px 0;
  font-size: $font-size-sm;
  font-weight: $font-weight-normal;
}

header {
  width: 100%;

  nav {
    @include flex-center(row, space-between, center);
    max-width: 100%;
    margin: 0 auto;

    ul {
      display: flex;
      justify-content: space-around;
      list-style: none;
      width: 100%;

      li {
        flex: 1;

        a {
          display: block;
          width: 100%;
          padding: 20px;
          text-align: center;
          font-weight: $font-weight-bold;
          text-decoration: none;
          color: $color-white;
          border-bottom: 5px solid transparent;
          @include transition(all);

          &:hover,
          &.active {
            background-color: rgba($color-black, 0.8);
            border-bottom-color: $color-white;
          }
        }
      }
    }
  }
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  @include flex-center(row, space-between, center);
  padding: 0 20px;
  position: relative;

  p {
    margin: 0;
    font-size: 1.7em;
    color: $color-white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.datetime {
  color: $color-white;
  font-weight: 500;
  font-size: $font-size-sm;
  margin-left: auto;
}